*{
  margin: 0;
  padding: 0;
}
/* section-1 */
.bangladesh{
  display: flex;
  justify-content: space-around;
  justify-items: center;
  padding-top: 24px;
}
.bangladesh-head{
  color: rgba(14, 14, 14, 1);
  height: 32px;
  width: 800;
  font-family: "Fira Sans";
  padding-top: 24px;
}
.sign-in{
  color: rgba(0, 106, 80, 1);
  font-family: "Fira Sans" ;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #006A50;
  padding: 15px 23px; 
  gap: 40px;
}
.bangladesh-20{
  display: flex;
  justify-content: space-around;
  border-radius: 24px;
  background: #C6E4D6;
  padding: 80px 100px;
  margin:10px 80px;
}
.hero-subtitle{
  color :rgba(14, 14, 14, 0.50);
  font-family: "Fira Sans";
  font-size: 20px;
  font-weight: 500;
}
.hero-tile{
  color: #0E0E0E;
  font-family: "Fira Sans";
font-size: 45px;
font-weight: 700;
line-height: normal;
width: 500px;
}
.btn-new-bangladesh{
  border-radius: 8px;
background: #006A50;
border: none;
display: flex;
padding: 17px 34px;
justify-content: center;
align-items: center;
gap: 48px;
color: rgba(255, 255, 255, 1);
font-family: "Fira Sans";
font-size: 18px;
font-weight: 600;
}
.bangladesh-hero {
  padding-top: 50px;
} 
/* section-2 pillars of bangladesh */

h2{
  color: #0E0E0E;
  font-family: "Fira Sans";
  font-size: 35px;
  font-weight: 700;
  padding: 25px;
  margin: 10px 80px;
}
.bangladesh-pillars{
 display: flex;
 flex-wrap: wrap;
 gap: 50px;
 margin:10px 70px;
}
.pillar{
  width: 280px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.70);
  background-color:rgba(241, 241, 243, 1);
  padding: 10px;
}
/* shared style */
.description{
  color: rgba(14, 14, 14, 0.70);
  font-family: "Fira Sans";
font-size: 14px;
font-weight: 400;
line-height: 20px; 
}
h5{
  color: rgba(14, 14, 14, 0.80);
  font-family: "Fira Sans";
font-size: 20px;
font-weight: 700;
padding: 12px 0;
}
button{
  display: flex;
padding: 11px 20px;
justify-content: center;
align-items: center;
gap: 48px;
border-radius: 8px;
border: none;
color:rgba(255, 255, 255, 1);
font-size: 16px;
margin: 20px 0;
}
/* section-3-vision of future */
.Vision-of-Future{

}
.text{
  width: 1200px;
  padding: 0 90px;
}
.vision{
  justify-items: center;
  justify-content: center;
  padding-bottom: 30px;
 
}
.digital{
  background-color: rgba(84, 144, 245, 0.20);
  border-radius: 16px;
border: 0px solid #5490F5;
width: 400px;
}
.energy{
  border-radius: 16px;
border: 0px solid #09A15C;
background: #C6E4D6;
width: 400px;
}
.Modern{
  border-radius: 16px;
border: 0px solid #FFC239;
background: #F7EBCF;
width: 400px;
}
.blue{
  background-color: #5490F5;
}
.green{
  background: #09A15C;
}
.yellow{
  background: #FFC239;
}
/* section-4-muhammad yunus */
.Muhammad-Yunus{
  background:#FFF, url(..//assets/quote-bg.png)100%;
  border-radius: 16px;
border: 1px solid rgba(14, 14, 14, 0.15);
background: #FFF;
padding:10px 20px;
margin:10px 80px;
}
/* section opinion */